.header {
  padding: 1rem 3rem;
  width: 100%;
  background: linear-gradient(180deg, var(--dark-blue) 9%, transparent 90%);
  transition: ease-in-out .3s;
  /* background-color: var(--dark-blue);
  border-bottom: 3px solid var(--mid-blue);
  box-shadow: 0px 2px 15px 5px var(--mid-blue);
  z-index: 99;
  position: relative; */
  &.onScrollWindow {
    transition: .3s;
    background-color: var(--dark-blue);
  }

  & nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logoContainer {
  width: 25%;

  & a {
    display: flex;
    & img {
      width: 100%;
    }
  }
}

.navigations {
  display: none;
}

@media (min-width: 800px) {
  .header {
    position: fixed;
    z-index: 120;
    top: 0;
    & nav {
      justify-content: space-between;
    }
  }

  .logoContainer {
    width: 10%;
  }
  .navigations {
    display: flex;
    gap: 1.5rem;
  }
}