.hero {
  font-family: var(--font-roboto);
  text-align: center;

  & h1 {
    color: var(--white);
    font-size: 4rem;
    font-weight: 900;
  }

  & p {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 300;
  }
}

@media (min-width: 800px) {
  .hero {

    & h1 {
      font-size: 6rem;
    }

    & p {
      font-size: 2rem;
    }
  }
}