.modal {
  background: var(--opacity-blue);
  display: flex;
  place-content: center;
  width: 100%;
  height: 100dvh;
  inset: 0;
  position: fixed;
  border: none;
  align-items: center;
  z-index: 500;
  overflow-y: auto;
}