.label {
  font-size: 1.6rem;
  color: var(--white);
  display: block;
  font-weight: 600;
  margin-bottom: .5rem;
}
.input {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  border: 2px solid;
  border-radius: 1rem;
  appearance: none;
  color: var(--light-gray);
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: var(--font-source-sans);

  &.black {
    background-color: var(--dark-gray);
    border-color: var(--mid-gray);
  }
  &.blue {
    background-color: var(--dark-blue-2);
    border-color: var(--mid-blue);
  }
  &.error {
    color: var(--red);
    border-color: var(--red);
  }
}